* {
  box-sizing: border-box;
 
}
body {
  margin: 0;
  font-family: 'Trebuchet MS', sans-serif;
  font-size:12px;
}
main {
  margin-top: 7rem;
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
}